<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Temperature Stats</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
</head>
<link rel="stylesheet" href="style.css">
<div class = "topnav">
    <a href = "index">Dashboard</a>
    <a class = "active" href = "stats">Statistics</a>
    <a href= "control"> Update Control Policy</a>
    <a href = "about">About</a>
  </div>
<body>
    <h2>Last 24 hours</h2>
    <canvas id="chart24" width="1000" height="200"></canvas>
    <script>
      var my_labels = ["02:00", "04:00", "10:00", "15:00"]
      var my_values = [15,12,18,24]

      var my_labels2 = [
          {% for item in data24h[0] %}
               "{{ item }}",
              {% endfor %}
              ]
      var my_values2 = [
        {% for item in data24h[1] %}
               "{{ item }}",
              {% endfor %}]
      // bar chart data

      var barData = {
        labels : my_labels2,
        datasets : [{
          borderColor: "#c45850",
          fill: false,
          data : my_values2
        }],
      };
      var options = {
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Time'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Temperature (Celsius)'
						}
          }]
        },
        legend: {
          display: false
        }
      };
      
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get bar chart canvas
      var ctx = document.getElementById("chart24").getContext("2d");

      steps = 10
      max = 25
      // draw bar chart
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: barData,
        options: options,
      });

    </script>
  <h2>Last Week</h2>
    <canvas id="chartweek" width="1000" height="200"></canvas>
    <script>
      

      var my_labels = ["Mon 02:00", "Tue 04:00", "Wed 10:00", "Thu 15:00"]
      var my_values = [15,12,18,24]

      var my_labels2 = [
          {% for item in data1w[0] %}
               "{{ item }}",
              {% endfor %}
              ]
      var my_values2 = [
        {% for item in data1w[1] %}
               "{{ item }}",
              {% endfor %}]

      // bar chart data
      var barData = {
        labels : my_labels2,
        datasets : [{
          borderColor: "#3e95cd",
          fill: false,
          data : my_values2
      }]
    }

    var options = {
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Time'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Temperature (Celsius)'
						}
          }]
        },
        legend: {
          display: false
        }
      };
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get bar chart canvas
      var ctx = document.getElementById("chartweek").getContext("2d");

      steps = 10
      max = 25

      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: barData,
        options: options,
      });

      // draw bar chart 
      /*
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
        scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				},
      });
      */
    </script>
</body>
</html>