<!doctype html>
<html>
  <head>
    <title>Temperature Sensor Dashboard</title>
  </head>
  <link rel="stylesheet" href="static/style.css">
  <div class = "topnav">
      <a href= "/">Dashboard</a>
      <a href = "stats">Statistics</a>
      <a href= "control"> Update Control Policy</a>
      <a class = "active" href = "about">About</a>
      <a href= "logout"> Log out</a>
      </div>
    <body>
        This web userinterface has a backend written in Flask (Python) and frontend in HTML/CSS/Javascript. It is hosted on AWS.
    </body>
</html>