<!doctype html>
<html>
  <head>
    <title>Temperature Sensor Dashboard</title>
  </head>
  <link rel="stylesheet" href="static/style.css">
  <div class = "topnav">
      <a href= "/">Dashboard</a>
      <a href = "stats">Statistics</a>
      <a href= "control"> Update Control Policy</a>
      <a class = "active" href = "about">About</a>
      <a href= "logout"> Log out</a>
      </div>
    <body>
	    <p> This is the control page for your Iot-temp system.</p>
	    <p> Dashboard: See the real time temperature and the current control policy</p>
	    <p> Statistics: See the measured temperature for the last 24 hours and the last week</p>
	    <p> Update Control Policy: Configure and update a new control policy</p>
	    <p> About: This page</p>
	    <p> Logout: Log out of your control page</p>
    </body>
</html>
