<link rel="stylesheet" href="static/style.css">
</head>
<meta charset="utf-8">
        <title>Update Control Policy</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script><style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@0.3.0/dist/chartjs-plugin-dragData.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <div class = "topnav">
    <a href = "/">Dashboard</a>
    <a href = "stats">Statistics</a>
    <a class = "active" href= "control"> Update Control Policy</a>
    <a href = "about">About</a>
    <a href= "logout"> Log out</a>
    </div>
    <body>

    <h2>Control Policy</h2>

    
    <canvas id="chartControl" width="1000" height="300"></canvas>
    <script>
    const APIKEY = "{{APIKEY}}"
      var my_labels = ["02:00", "04:00", "06:00", "08:00", "10:00", "12:00", "14:00", "16:00", "18:00", "20:00", "22:00", "00:00"]
      var my_values2 = [
        {% for item in control_policy %}
               "{{ item }}",
              {% endfor %}]
      // bar chart data

      var barData = {
        labels : my_labels,
        datasets : [{
          borderColor: "#c45850",
          fill: false,
          data : my_values2
        }],
      };
      var options = {
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    },
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature (Celsius)'
                    },
                    ticks: {
                        suggestedMin: 10,
                        suggestedMax: 30
                    }
                }],
            },
            legend: {
                display : false
            },
            dragData: true,
            
            /*onDragStart: function (e) {
                console.log(e)
            },
            onDrag: function (e, datasetIndex, index, value) {
                console.log(datasetIndex, index, value)
            },
            
            onDragEnd: function (e, datasetIndex, index, value) {
                console.log(datasetIndex, index, value)
                my_values2[index] = value
            }
            */
        };
        
   
      
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get bar chart canvas
      var ctx = document.getElementById("chartControl").getContext("2d");
      // draw bar chart
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: barData,
        options: options,
      });
      </script>
       <button>Update Control Policy</button>
       <script>
       var UpdateButton = document.getElementsByTagName('button')[0];
       UpdateButton.onclick = function() {
           const Url = "http://35.180.58.140/db/post-control"
           const date = new Date()
           date.setMilliseconds(0);
           ISODate = date.toISOString();
           ISODate = ISODate.slice(0, ISODate.length-5);
            axios({
                method: 'post',
                url: Url,
                data:
                    {	
                        'APIKEY': APIKEY,
                        'Timestamp': ISODate,
                        'Data': my_values2.join('-')
                    }
            })
            .then(data=>console.log(data))
            .catch(err=>console.log(err))


       };
       </script>       
    </body>
</html>
